@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-background-color: 255 255 255;
  --card-logo-background-color: 255 255 255;
  --card-date-background-color: 255 255 255;
  --card-numbers-background-color: 255 255 255;
  --numbers-border-background-color: 255 255 255;
}

/* Magnum Card Colors */
:root {
  --magnum-background-color: rgb(0, 0, 0);
  --magnum-prize-color: rgb(245, 197, 48);
  --magnum-title-color: rgb(0, 0, 0);
  --magnum-border-color: rgb(255, 255, 255);
  --magnum-header-border-color: rgb(0, 0, 0);
}

/* Damacai Card Colors */
:root {
  --damacai-background-color: rgb(29, 55, 123);
  --damacai-prize-color: rgb(236, 32, 36);
  --damacai-title-color: rgb(29, 55, 123);
  --damacai-border-color: rgb(255, 255, 255);
  --damacai-header-border-color: rgb(29, 55, 123);
}

/* Sports Card Colors */
:root {
  --sports-background-color: rgb(236, 32, 36);
  --sports-prize-color: rgb(0, 0, 0);
  --sports-title-color: rgb(236, 32, 36);
  --sports-border-color: rgb(255, 255, 255);
  --sports-header-border-color: rgb(236, 32, 36);
}

/* Singapore Card Colors */
:root {
  --singapore-background-color: rgb(0, 147, 216);
  --singapore-prize-color: rgb(29, 55, 123);
  --singapore-title-color: rgb(0, 147, 216);
  --singapore-border-color: rgb(255, 255, 255);
  --singapore-header-border-color: rgb(0, 147, 216);
}

/* Sandakan Card Colors */
:root {
  --sandakan-background-color: rgb(245, 197, 48);
  --sandakan-prize-color: rgb(1, 122, 55);
  --sandakan-title-color: rgb(245, 197, 48);
  --sandakan-border-color: rgb(255, 255, 255);
  --sandakan-header-border-color: rgb(245, 197, 48);
}

/* Sabah Card Colors */
:root {
  --sabah-background-color: rgb(250, 5, 4);
  --sabah-prize-color: rgb(30, 104, 162);
  --sabah-title-color: rgb(250, 5, 4);
  --sabah-border-color: rgb(255, 255, 255);
  --sabah-header-border-color: rgb(250, 5, 4);
}

/* Special Card Colors */
:root {
  --special-background-color: rgb(15, 162, 39);
  --special-prize-color: rgb(236, 32, 36);
  --special-title-color: rgb(15, 162, 39);
  --special-border-color: rgb(255, 255, 255);
  --special-header-border-color: rgb(15, 162, 39);
}

/* Lucky Card Colors */
:root {
  --lucky-background-color: rgb(26, 129, 187);
  --lucky-prize-color: rgb(29, 55, 123);
  --lucky-title-color: rgb(26, 129, 187);
  --lucky-border-color: rgb(255, 255, 255);
  --lucky-header-border-color: rgb(26, 129, 187);
}

/* Perdana Card Colors */
:root {
  --perdana-background-color: rgb(30, 104, 162);
  --perdana-prize-color: rgb(236, 32, 36);
  --perdana-title-color: rgb(30, 104, 162);
  --perdana-border-color: rgb(255, 255, 255);
  --perdana-header-border-color: rgb(30, 104, 162);
}

/* Gd Dragon Card Colors */
:root {
  --grand-background-color: rgb(30, 104, 162);
  --grand-prize-color: rgb(236, 32, 36);
  --grand-title-color: rgb(30, 104, 162);
  --grand-border-color: rgb(255, 255, 255);
  --grand-header-border-color: rgb(30, 104, 162);
}

.dark {
  --card-background-color: 34 34 34;
  --card-logo-background-color: 70 70 70;
  --card-date-background-color: 7 7 7;
  --card-numbers-background-color: 28 28 28;
  --numbers-border-background-color: 70 70 70;

  /* magnum*/
  --magnum-background-color: rgb(34, 34, 34);
  --magnum-title-color: rgb(70, 70, 70);
  --magnum-border-color: rgb(245, 197, 48);
  --magnum-header-border-color: rgb(245, 197, 48);

  /* damacai */
  --damacai-background-color: rgb(34, 34, 34);
  --damacai-border-color: rgb(42, 92, 214);
  --damacai-title-color: rgb(42, 92, 214);
  --damacai-header-border-color: rgb(42, 92, 214);

  --sports-background-color: rgb(34, 34, 34);
  --sports-prize-color: rgb(70, 70, 70);
  --sports-border-color: rgb(236, 32, 36);

  --singapore-background-color: rgb(34, 34, 34);
  --singapore-border-color: #0093d8;

  --sandakan-background-color: rgb(34, 34, 34);
  --sandakan-border-color: #f5c530;

  --sabah-background-color: rgb(34, 34, 34);
  --sabah-border-color: rgb(250, 5, 4);

  --special-background-color: rgb(34, 34, 34);
  --special-border-color: rgb(15, 162, 39);

  --lucky-background-color: rgb(34, 34, 34);
  --lucky-border-color: rgb(26, 129, 187);

  --perdana-background-color: rgb(34, 34, 34);
  --perdana-border-color: rgb(30, 104, 162);

  --grand-background-color: rgb(34, 34, 34);
  --grand-border-color: rgb(30, 104, 162);
}

/*--------------------------------------------------------------
# General 
--------------------------------------------------------------*/

.logos-bg {
  @apply relative bg-card_logo h-[70px] w-[70px] rounded-full overflow-hidden;
}

.logos {
  @apply block absolute m-auto -top-full -right-full -bottom-full -left-full h-[70px] w-[70px];
}

#card-date .date,
.draw {
  @apply flex-1 text-center space-y-3;
}

/*--------------------------------------------------------------
# Prize
--------------------------------------------------------------*/
#card-numbers .prize {
  @apply text-center p-2 mb-3 rounded-xl font-bold text-lg;
}

#card-numbers .prize span {
  @apply font-thin;
}

#magnum .prize h1 {
  color: black !important;
}

#card .prize h1 {
  color: white;
}

/*--------------------------------------------------------------
# Magnum 
--------------------------------------------------------------*/
#card .magnum {
  border-color: var(--magnum-border-color);
}

#magnum.background-color {
  background-color: var(--magnum-background-color);
  border-color: var(--magnum-header-border-color);
}

#magnum .prize {
  background-color: var(--magnum-prize-color);
}

#magnum .title-color {
  background-color: var(--magnum-title-color);
}

/*--------------------------------------------------------------
# Damacai 
--------------------------------------------------------------*/
#card .damacai {
  border-color: var(--damacai-border-color);
}

#damacai.background-color {
  background-color: var(--damacai-background-color);
  border-color: var(--damacai-header-border-color);
}

#damacai .prize {
  background-color: var(--damacai-prize-color);
}

#damacai .title-color {
  background-color: var(--damacai-title-color);
}

/*--------------------------------------------------------------
# Sports 
--------------------------------------------------------------*/
#card .sports {
  border-color: var(--sports-border-color);
}

#sports.background-color {
  background-color: var(--sports-background-color);
  border-color: var(--sports-header-border-color);
}

#sports .prize {
  background-color: var(--sports-prize-color);
}

#sports .title-color {
  background-color: var(--sports-title-color);
}

/*--------------------------------------------------------------
# Sinagpore 
--------------------------------------------------------------*/
#card .singapore {
  border-color: var(--singapore-border-color);
}

#singapore.background-color {
  background-color: var(--singapore-background-color);
  border-color: var(--singapore-header-border-color);
}

#singapore .prize {
  background-color: var(--singapore-prize-color);
}

#singapore .title-color {
  background-color: var(--singapore-title-color);
}

/*--------------------------------------------------------------
# Sandakan 
--------------------------------------------------------------*/
#card .sandakan {
  border-color: var(--sandakan-border-color);
}

#sandakan.background-color {
  background-color: var(--sandakan-background-color);
  border-color: var(--sandakan-header-border-color);
}

#sandakan .prize {
  background-color: var(--sandakan-prize-color);
}

#sandakan .title-color {
  background-color: var(--sandakan-title-color);
}

/*--------------------------------------------------------------
# Sabah 
--------------------------------------------------------------*/
#card .sabah {
  border-color: var(--sabah-border-color);
}

#sabah.background-color {
  background-color: var(--sabah-background-color);
  border-color: var(--sabah-header-border-color);
}

#sabah .prize {
  background-color: var(--sabah-prize-color);
}

#sabah .title-color {
  background-color: var(--sabah-title-color);
}

/*--------------------------------------------------------------
# Special 
--------------------------------------------------------------*/
#card .special {
  border-color: var(--special-border-color);
}

#special.background-color {
  background-color: var(--special-background-color);
  border-color: var(--special-header-border-color);
}

#special .prize {
  background-color: var(--special-prize-color);
}

#special .title-color {
  background-color: var(--special-title-color);
}

/*--------------------------------------------------------------
# Lucky 
--------------------------------------------------------------*/
#card .lucky {
  border-color: var(--lucky-border-color);
}

#lucky.background-color {
  background-color: var(--lucky-background-color);
  border-color: var(--lucky-header-border-color);
}

#lucky .prize {
  background-color: var(--lucky-prize-color);
}

#lucky .title-color {
  background-color: var(--lucky-title-color);
}

/*--------------------------------------------------------------
# Perdana 
--------------------------------------------------------------*/
#card .perdana {
  border-color: var(--perdana-border-color);
}

#perdana.background-color {
  background-color: var(--perdana-background-color);
  border-color: var(--perdana-header-border-color);
}

#perdana .prize {
  background-color: var(--perdana-prize-color);
}

#perdana .title-color {
  background-color: var(--perdana-title-color);
}

/*--------------------------------------------------------------
# Grand 
--------------------------------------------------------------*/
#card .grand {
  border-color: var(--grand-border-color);
}

#grand.background-color {
  background-color: var(--grand-background-color);
  border-color: var(--grand-header-border-color);
}

#grand .prize {
  background-color: var(--grand-prize-color);
}

#grand .title-color {
  background-color: var(--grand-title-color);
}
