@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/
/* Global Colors */
:root {
  --background-color: 245 245 245; /*#F5F5F5*/
  --main-text-color: 0 0 0;
  --logo-color: linear-gradient(
    118deg,
    rgba(38, 78, 255, 1) 0%,
    rgba(38, 78, 255, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
}

/* Nav Menu Colors */
:root {
  --nav-background-color: 243 243 243; /*#F3F3F3*/
  --nav-item-color: 255 255 255; /*#FFFFFF*/

  --sidebar-background-color: 255 255 255;
  --sidebar-label-color: 0 0 0;
  --sidebar-list-item-color: 158 158 158; /*#9E9E9E*/
  --sidebar-border-color: 238 242 246; /*#EEF2F6*/
}

/* Date Picker Colors */
:root {
  --picker-border-color: 243 243 243; /*#F3F3F3*/
  --picker-text-color: 108 108 108; /*#6C6C6C*/
  --picker-hover-color: 38 76 170; /*#264CAA*/
}

.dark {
  --background-color: 34 34 34; /*#222222*/
  --main-text-color: 255 255 255;
  --logo-color: rgb(255, 255, 255);

  --nav-background-color: 34 34 34; /*#222222*/
  --nav-item-color: 70 70 70; /*#464646*/
  --sidebar-background-color: 70 70 70;
  --sidebar-label-color: 255 255 255;
  --sidebar-list-item-color: 234 234 234;
  --sidebar-border-color: 81 81 81; /*#515151*/

  --picker-border-color: 34 34 34; /*#222222*/
  --picker-text-color: 130 130 130; /*#828282*/
  --picker-hover-color: 255 255 255; /*#FFFFFF*/
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
html,
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-main;
}

a,
button {
  cursor: pointer;
}

/*--------------------------------------------------------------
# Date Picker
--------------------------------------------------------------*/
#logo h1.logo-text {
  background: var(--logo-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

/*--------------------------------------------------------------
# Date Picker
--------------------------------------------------------------*/
#date-picker select {
  background-color: rgb(240, 240, 240);
}
